name: Deploy website with secrets
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache node modules
        uses: actions/cache@v4
        with:
            path: ~/.npm 
            key: ${{ runner.os }}-akashbiswas-${{ hashFiles('**/package-lock.json') }}
      
      - name: access-secrets
        env:
          MY_SECRET: ${{ secrets.NAME }}
        run: echo $MY_SECRET
