name: Conditional-functions
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
  test:
     runs-on: ubuntu-latest
     steps:
       - name: Checkout code
         uses: actions/checkout@v4
       - name: failure-step
         run: exit 1
  report:
     needs: [build,test]
     if: failure()
     runs-on: ubuntu-latest
     steps:
      - name: Report step
        run: echo 'Now this report job is running' 