name: Conditional-caching
on: workflow_dispatch

jobs:
  build:
    strategy:
      matrix:
        node-version: [12, 18]
        operating-system: [ubuntu-latest, macos-latest]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: install dependencies
        run: npm install
