name: artifact-test
on: workflow_dispatch
jobs: 
    build:
        runs-on: ubuntu-latest
        steps:
            - name: get the code
              uses: actions/checkout@v4

            - name: Build app
              run: npm run build

            - name: Upload artifact
              continue-on-error: true
              uses: actions/upload-artifact@v4
              with:
                  name: test-artifact
    
    test:
        continue-on-error: true
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                  name: test-artifact